@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
    font-family: "Arial";
    src: url("./AeonikProTRIAL-Regular.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
    }


input[type="checkbox"]:checked {
      accent-color: #f97316; 
      color: white;
    }